<div class="panel-body">

                                    <div class="col-sm-4">
                                        <div data-ng-controller="ModalDemoCtrl">
                                    <script type="text/ng-template" id="modal-habit.html">

                                        <div class="modal-header">
                                            <span class="dropcap-circle colored">S</span></br><b>chedulr - The Habit Builder</b>
                                        </div>

                                        <div class="modal-body">
                                            <!-- Habit -->
                                            <div class="col-sm-12">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Habit:</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <textarea name="" id="" class="form-control" rows="4"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="panel panel-info">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                             <span class="ui-select">
                                                <select>
                                                    <option>Daily</option>
                                                    <option>Weekly</option>
                                                    <option>Monthly</option>
                                                </select>
                                            </span>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <!-- Select num weeks -->
                                                                <div class="form-group row">
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" style="height:39px;" placeholder="Repeats every - (weeks)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row-sm-8">
                                                            <!-- Checkbox day selection -->
                                                            <label class="ui-checkbox"><input ng-model="sunday" type="checkbox" ng-true-value="'Sunday'" ng-false-value = "''"><span>S</span></label>
                                                            <label class="ui-checkbox"><input ng-model="monday" type="checkbox" ng-true-value="'Monday'" ng-false-value = "''"><span>M</span></label>
                                                            <label class="ui-checkbox"><input ng-model="tuesday" type="checkbox" ng-true-value="'Tuesday'" ng-false-value = "''" ><span>T</span></label>
                                                            <label class="ui-checkbox"><input ng-model="wednesday" type="checkbox" ng-true-value="'Wednesday'" ng-false-value = "''" ><span>W</span></label>
                                                            <label class="ui-checkbox"><input ng-model="thursday" type="checkbox" ng-true-value="'Thursday'" ng-false-value = "''"><span>T</span></label>
                                                            <label class="ui-checkbox"><input ng-model="friday" type="checkbox" ng-true-value="'Friday'" ng-false-value = "''" ><span>F</span></label>
                                                            <label class="ui-checkbox"><input ng-model="saturday" type="checkbox" ng-true-value="'Saturday'"  ng-false-value = "''"><span>S</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="panel panel-warning">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div data-ng-controller="DatepickerDemoCtrl">
                                                                    <b>Start Habit:</b>
                                                                    <div class="input-group ui-datepicker" >
                                                                        <input type="text"
                                                                               placeholder = "MM/DD/YYYY"
                                                                               class="form-control"
                                                                               datepicker-popup="{{format}}"
                                                                               ng-model="dt"
                                                                               is-open="opened"
                                                                               min="minDate"
                                                                               max="'2015-06-22'"
                                                                               datepicker-options="dateOptions"
                                                                               date-disabled="disabled(date, mode)"
                                                                               ng-required="true"
                                                                               close-text="Close">
                                                                        <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Calender End-->
                                                            <div class="col-sm-6">
                                                                <div data-ng-controller="DatepickerDemoCtrl">
                                                                    <b>End Habit:</b>
                                                                    <div class="input-group ui-datepicker" >
                                                                        <input type="text"
                                                                               placeholder = "MM/DD/YYYY"
                                                                               class="form-control"
                                                                               datepicker-popup="{{format}}"
                                                                               ng-model="dt"
                                                                               is-open="opened"
                                                                               min="minDate"
                                                                               max="'2015-06-22'"
                                                                               datepicker-options="dateOptions"
                                                                               date-disabled="disabled(date, mode)"
                                                                               ng-required="true"
                                                                               close-text="Close">
                                                                        <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <br>
                                                        <!-- Duration -->
                                                        <div class="row">
                                                            <div class="col-sm-2">
                                                                <input type="text" class="form-control" style=" height:39px;" placeholder="#">
                                                            </div>
                                                            <div class="col-sm-10">
                                                             <span class="ui-select">
                                                                <select>
                                                                    <option>Day(s)</option>
                                                                    <option>Week(s)</option>
                                                                    <option>Month(s)</option>
                                                                </select>
                                                             </span>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <!-- Time -->
                                                        <b>Start Habit Time: (Day Of)</b>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div data-ng-controller="TimepickerDemoCtrl">

                                                                    <div ng-model="mytime" ng-change="changed()" style="display:inline-block;">
                                                                        <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <!-- Select num weeks -->
                                                                <div class="form-group row">
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" style=" height:39px;" placeholder="Repeat every - (hour)">
                                                                        <br>
                                                                        <input type="text" class="form-control" style=" height:39px;" placeholder="# Occurances">
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <!-- Habit Ends-->
                                                        <b>Habit Ends: (From Today)</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <div align ="left"><b>Summary:</b></div>
                                            <div class="panel-footer">
                                                insert habit-summary
                                            </div><br>
                                            <button class="btn btn-success" ng-click="ok()">Template</button>
                                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                        </div>
                                        </div>
                                    </script>
                                        <button class="btn btn-danger" ng-click="open_habit()">Habit</button>
                                     </div>
                                        </div>
                                    <div class="col-sm-4">
                                        <div data-ng-controller="ModalDemoCtrl">
                                        <script type="text/ng-template" id="modal-survey.html">
                                            Survey
                                        </script>
                                        <button class="btn btn-warning" ng-click="open_survey()">Survey</button>
                                    </div>
                                        </div>
                                    <div class="col-sm-4">
                                        <div data-ng-controller ="ModalDemoCtrl">
                                            <script type="text/ng-template" id="modal-workout.html">
                                                Workout
                                            </script>
                                            <button class="btn btn-success" ng-click="open_workout()">Workout</button>
                                        </div>
                                        </div>

                                </div>