<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading" id="schedulr-heading"><strong>SCHEDULR</strong></div>
                <div class="panel-body" id="schedulr-body">
                    <div class="col-xs-4 modal-item mrg0A">
                        <button type="button" class="btn btn-danger btn-sm btn-block">Survey</button>
                    </div>
                    <div class="col-xs-4 modal-item mrg0A">
                        <button type="button" class="btn btn-warning btn-sm btn-block">Workout</button>
                    </div>
                    <div class="col-xs-4 modal-item mrg0A">
                        <button type="button" class="btn btn-success btn-sm btn-block">Habit</button>
                    </div>
                </div>
        </div>
    </div>
</div>



