<html ng-app="phonecatApp">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/login-reset.css">
        <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
        <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Montserrat:400,700'>
        <link rel="stylesheet" href="../css/login-style.css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="../css/app.css">
        <link rel="stylesheet" href="../css/animations.css">

        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.js"></script>

        <script src="../js/app.js"></script>
        <script src="../js/animations.js"></script>
        <script src="../js/controllers.js"></script>
        <script src="../js/filters.js"></script>
        <script src="../js/services.js"></script>
        <script src="../js/directives.js"></script>

        <script src="//www.parsecdn.com/js/parse-1.6.14.min.js"></script>
        <script src="../js/facebook.js"></script>
        <script type="text/javascript" src="../../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    </head>

    <div>
        <div class="form" ng-controller="LoginCtrl">
            <div class="thumbnail"></div>
            <form class="register-form" ng-submit="register()">
                <input type="text" placeholder="name" ng-model="name"/>
                <input type="text" placeholder="username" ng-model="username"/>
                <input type="password" placeholder="password" ng-model="password"/>
                <input type="text" placeholder="email address" ng-model="email"/>
                <button>register</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
                <p>{{username}} : {{password}}</p>
            </form>

            <form class="login-form">
                <div class="login-input">
                    <input type="text" placeholder="username" ng-model="username"/>
                    <input type="password" placeholder="password" ng-model="password"/>
                    <button ng-click="login()">login</button>
                    <input type="image"
                           src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/256/facebook-icon.png"
                           class="facebook-icon" ng-click="login_fb()"/>
                </div>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
                <p>{{username}} : {{password}}</p>
            </form>
        </div>
    </div>


    <footer>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script>
        $('.message a').click(function(){
         $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
      </script>
    </footer>
</html>

