<div class="row">

    <h3 class="content-box-header bg-white">
        <i class="glyph-icon icon-cog"></i>
        Clients
        <div class="header-buttons-separator">
            <a href="#" class="btn btn-xs btn-link font-red icon-separator   remove-border pad0A " title=""><i class="glyph-icon icon-bar-chart-o font-size-14 opacity-hover"></i></a>
            <a href="#" class="btn btn-xs btn-link font-green icon-separator  remove-border pad0A" title=""><i class="glyph-icon icon-bullhorn font-size-14 opacity-hover"></i></a>
            <a href="#" class="btn btn-xs btn-link font-blue icon-separator  remove-border pad0A" title=""><i class="glyph-icon icon-bell-o font-size-14 opacity-hover"></i></a>
            <a href="#" class="icon-separator toggle-button">
                <i class="glyph-icon icon-chevron-up"></i>
            </a>
        </div>
    </h3>

    <!-- Coach Info Panel -->
    <div class="col-sm-6">
        <div class="form-group">
            <input type="text" name="" placeholder="Search for client..." class="form-control autocomplete-input" ng-model="query">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <select class="form-control" ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="id">Newest</option>
            </select>
        </div>
    </div>

    <div class="panel-box col-sm-12">
        <div class="panel-body">
            <table class="table client-table">
                <thead>
                <tr>
                    <th class="transparent"></th>
                    <th class="transparent">Client</th>
                    <th class="transparent">Status</th>
                    <th class="transparent">Next Activity</th>
                    <th class="transparent">Last Activity</th>
                    <th class="transparent">New Messages</th>
                    <th class="transparent">Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in clients | filter:query | orderBy:orderProp">

                    <div><td><img ng-src="{{client.imageUrl}}" width="54" class="img-circle"></td></div>

                    <div><td><a href="#/clients/{{client.first_name}}_{{client.last_name}}">{{client.first_name}} {{client.last_name}}</a></td></div>
                    <div>
                        <td>
                            <button class="btn btn-round btn-success btn-xs btn-block">

                            </button>
                        </td>
                    </div>

                    <div><td>{{client.next_activity}}:
                        <br>
                        {{client.next_activity_date}} {{client.next_activity_time}}</td></div>

                    <div><td>{{client.last_activity}}:
                        <br>
                        {{client.last_activity_date}} {{client.last_activity_time}}</td></div>
                    <div><td>{{client.new_messages}}</td></div>
                    <div><td></td></div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<table st-table="client_list" class="table">
    <thead>
    <tr>
        <th class="transparent"></th>
        <th class="transparent">Client</th>
        <th class="transparent">Status</th>
        <th class="transparent">Next Activity</th>
        <th class="transparent">Last Activity</th>
        <th class="transparent">New Messages</th>
        <th class="transparent">Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="client in clients">
        <td
    </tr>
    </tbody>

</table>