
<head>
    <link rel="stylesheet" type="text/css" href="../assets/themes/admin/color-schemes/default.css">
    <!-- JS Core -->
    <script type="text/javascript" src="../assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="../assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="../assets/js-core/jquery-ui-widget.js"></script>
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="panel-body client-panel">
                    <div class="row">
                        <div class="panel-content col-sm-4">
                            <div class="panel-content float-left client-picture">
                                <img src="{{client.imageUrl}}" class="img-circle img-bordered border-black " style="width: 125px">
                                <h4>{{client.name}}</h4>
                            </div>
                        </div>
                        <div class="panel-content col-sm-8 pad25T">
                            <div class="example-box-wrapper">
                                <div class="progressbar-small progressbar" data-value="45">
                                    <div class="progressbar-value bg-blue tooltip-button" title="45%">
                                    </div>
                                </div
                                ><div class="progressbar-small progressbar" data-value="25">
                                <div class="progressbar-value bg-red tooltip-button" title="25%">
                                </div>
                            </div>

                                <div class="progressbar-small progressbar" data-value="66">
                                    <div class="progressbar-value bg-yellow tooltip-button" title="66%">
                                    </div>
                                </div>
                                <div class="progressbar-small progressbar" data-value="100">
                                    <div class="progressbar-value bg-green tooltip-button" title="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <textarea name="" id="" class="form-control" placeholder="Send a message..."></textarea>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-body client-profile-panel">
                <div class="float-right client-timeline">
                    <div class="example-box-wrapper">
                        <div class="timeline-box timeline-box-left">
                            <div class="tl-row">
                                <div class="tl-item float-right">
                                    <div class="tl-icon bg-red">
                                        <i class="glyph-icon icon-toggle-on"></i>
                                    </div>
                                    <div class="popover right">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="tl-label bs-label label-info">Appointment</div>
                                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tl-row">
                                <div class="tl-item float-right">
                                    <div class="tl-icon bg-primary">
                                        <i class="glyph-icon icon-wifi"></i>
                                    </div>
                                    <div class="popover right">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="tl-label bs-label bg-yellow">Teleconference</div>
                                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tl-row">
                                <div class="tl-item float-right">
                                    <div class="tl-icon bg-black">
                                        <i class="glyph-icon icon-headphones"></i>
                                    </div>
                                    <div class="popover right">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="tl-label bs-label label-danger">Meeting</div>
                                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tl-row">
                                <div class="tl-item float-right">
                                    <div class="tl-icon bg-red">
                                        <i class="glyph-icon icon-toggle-on"></i>
                                    </div>
                                    <div class="popover right">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="tl-label bs-label label-info">Appointment</div>
                                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tl-row">
                                <div class="tl-item float-right">
                                    <div class="tl-icon bg-primary">
                                        <i class="glyph-icon icon-wifi"></i>
                                    </div>
                                    <div class="popover right">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="tl-label bs-label bg-yellow">Teleconference</div>
                                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>

    <!-- Progress Bar -->
    <script type="text/javascript" src="../assets/widgets/skrollr/skrollr.js"></script>
    <script type="text/javascript" src="../assets/widgets/sticky/sticky.js"></script>
    <script type="text/javascript" src="../assets/widgets/tooltip/tooltip.js"></script>
    <script type="text/javascript" src="../assets/widgets/popover/popover.js"></script>
    <script type="text/javascript" src="../assets/widgets/input-switch/inputswitch-alt.js"></script>
    <script type="text/javascript" src="../assets/widgets/slimscroll/slimscroll.js"></script>
    <script type="text/javascript" src="../assets/widgets/progressbar/progressbar.js"></script>

    <!-- All needed for nav dropdown -->
    <script type="text/javascript" src="../assets/widgets/collapse/collapse.js"></script>
    <script type="text/javascript" src="../assets/js-init/widgets-init.js"></script>
    <script type="text/javascript" src="../assets/js-init/frontend-init.js"></script>

    <!-- Angular Bootstrap -->
    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../../js/hoe.js"></script>

</footer>