
<div class="container-fluid">
    <h3 class="content-box-header bg-white">
      <i class="glyph-icon icon-cog"></i>
      Clients
      <div class="header-buttons-separator">
        <a href="#" class="btn btn-xs btn-link font-red icon-separator   remove-border pad0A " title=""><i class="glyph-icon icon-bar-chart-o font-size-14 opacity-hover"></i></a>
        <a href="#" class="btn btn-xs btn-link font-green icon-separator  remove-border pad0A" title=""><i class="glyph-icon icon-bullhorn font-size-14 opacity-hover"></i></a>
        <a href="#" class="btn btn-xs btn-link font-blue icon-separator  remove-border pad0A" title=""><i class="glyph-icon icon-bell-o font-size-14 opacity-hover"></i></a>
        <a href="#" class="icon-separator toggle-button">
          <i class="glyph-icon icon-chevron-up"></i>
        </a>
      </div>
    </h3>

    <!-- Coach Info Panel -->
    <div class="col-sm-6">
      <div class="form-group">
        <input type="text" name="" placeholder="Search for client..." class="form-control autocomplete-input" ng-model="query">
      </div>
    </div>

    <div class="content-box-wrapper col-sm-12">
      <div>
        <table st-table="client-table" class="table">
          <thead>
          <tr>
            <th class="transparent"></th>
            <th class="transparent" st-sort="last_name">Client</th>
            <th class="transparent">Status</th>
            <th class="transparent" st-sort="next_activity_date">Next Activity</th>
            <th class="transparent" st-sort="last_activtity_date">Last Activity</th>
            <th class="transparent">New Messages</th>
            <th class="transparent">Rating</th>
          </tr>
          </thead>
          <tbody>
          <tr class="clients" ng-repeat="client in clients | filter:query | orderBy:orderProp">

            <div><td><img ng-src="{{client.imageUrl}}" width="54" class="img-circle"></td></div>

            <div><td><a href="#/clients/{{client.first_name}}_{{client.last_name}}">{{client.first_name}} {{client.last_name}}</a></td></div>
            <div>
              <td>
                <button class="btn btn-round btn-success btn-xs btn-block">

                </button>
              </td>
            </div>

            <div><td st-sort="next_activity_date">{{client.next_activity}}:
              <br>
              {{client.next_activity_date}} {{client.next_activity_time}}</td></div>

            <div><td>{{client.last_activity}}:
              <br>
              {{client.last_activity_date}} {{client.last_activity_time}}</td></div>
            <div>
              <td>
                  <li class="dropdown hoe-rheader-submenu message-notification pad10B">
                    <a href="#" class="dropdown-toggle icon-circle" data-toggle="dropdown">
                      <i class="fa fa-envelope-o"></i>
                      <div class="badge badge-danger new-messages-count">{{client.rating % 2}}</div>
                   </a>
                  </li>
              </td>
            </div>
            <div>
              <td>
                {{client.rating}}
              </td>
            </div>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<footer>

  <!-- Bootstrap Progress Bar -->
  <script type="text/javascript" src="../assets/widgets/progressbar/progressbar.js"></script>
  <!-- All needed for nav dropdown -->
  <script type="text/javascript" src="../assets/widgets/collapse/collapse.js"></script>
  <script type="text/javascript" src="../assets/js-init/widgets-init.js"></script>
  <script type="text/javascript" src="../assets/js-init/frontend-init.js"></script>
  <!-- Angular Bootstrap -->
  <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="../../js/hoe.js"></script>

</footer>